{% for host in groups['mons'] %}
---
service_type: host
hostname: {{ host }}.cloud.um6p.ma
labels:
- mon
- mgr
{% endfor %}
{% for host in groups['osds'] %}
---
service_type: host
hostname: {{ host }}.cloud.um6p.ma
labels:
- osd
{% endfor %}
---
service_type: mon
placement:
  label: "mon"
---
service_type: mgr
placement:
  label: "mgr"
---
service_type: crash
placement:
  host_pattern: "*"
